*{
    margin: 0;
    box-sizing: border-box;
    font-family: "Comic Neue", cursive;
}

body{
    height: 100vh;
}

.canvas-container {
   
  /* background-color: red;   */
    width: 100%;
 
}

.editor{
 
    display:none;
}

canvas {
    width: 100%;
    border: 1px solid grey;
     /* background-color: grey;  */
     border-radius: 10px ;

}







/* ---- */


.main-layout{
    background-color: rgb(192, 192, 191);
    display: grid;
    grid-template-columns: minmax(10px,1fr) minmax(auto,800px) minmax(10px,1fr);
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
    '. header .' 
    '. main-content .'
    ;
}


header{
    
    font-size: 1.3rem;
    grid-area: header;
    background-color: rgb(150, 149, 148);
    display:grid;
    grid-template-columns:minmax(10px,1fr) minmax(auto,400px) minmax(auto,400px) minmax(10px,1fr);
    align-items: center;   
     grid-column: 1/-1; 
}

.logo{
    font-family: "Bungee", sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
   grid-column: 2/2;
    justify-self: start;
    align-self: center;
    
}

nav {
    display: flex;
    justify-content:space-evenly;
    height: 100%;
    align-items: center;
    grid-column: 3/3;

}



/* header > *:not(.logo){
    background-color: red;
    margin-inline-end: end;
    justify-self: end;


} */


.gallery > * {
    width: 150px;
    height: 150px;
    object-fit:cover;
    
}

.gallery {
    display: grid;
    grid-area: main-content;
    gap: 10px;
    grid-template-columns: repeat(auto-fit,150px);
    /* grid-template-rows: repeat(5,150px); */
    justify-content: center;
   
    align-content: start;
    /* height:450px; */
}


.editor {
    gap: 10px;
    padding: 10px;
    background-color: rgb(183, 229, 250);
    grid-area: main-content;
    grid-template-columns: 1fr 0.5fr;
    height: fit-content;
    
    
}

.editor-btns{
    display: grid;
    width: fit-content;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    width: 100%;
}


