@import url('/css/fonts/fonts.css');

@import url('/css/basics/colors.css');

* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Comic Neue', cursive;
}

body {
  height: 100vh;
}

.canvas-container {
  /* background-color: red;   */
  width: 100%;
}

.editor {
  display: none;
}

canvas {
  width: 100%;
  border: 1px solid grey;
  /* background-color: grey;  */
  border-radius: 10px;
  border-color: var(--text-color);
}

/* ---- */

.main-layout {
  background-color: var(--main-background);
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(auto, 800px) minmax(10px, 1fr);
  grid-template-rows: 60px 1fr;
  grid-template-areas:
    '. header .'
    '. main-content .';
}

header {
  color: var(--text-color);
  font-size: 1.3rem;
  grid-area: header;
  background-color: var(--second-color);
  display: grid;
  grid-template-columns: minmax(10px, 1fr) minmax(auto, 400px) minmax(auto, 400px) minmax(10px, 1fr);
  align-items: center;
  grid-column: 1/-1;
}

.logo {
  font-family: 'Bungee', sans-serif;
  font-weight: 700;
  font-size: 1.5rem;
  grid-column: 2/2;
  justify-self: start;
  align-self: center;
}

nav {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  align-items: center;
  grid-column: 3/3;
}

/* header > *:not(.logo){
    background-color: red;
    margin-inline-end: end;
    justify-self: end;


} */

.gallery > * {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 10px;
  border: 1px solid var(--text-color)
}

.gallery > img {
    border: 1px solid var(--text-color);
}


.gallery {
margin-top: 50px;
  display: grid;
  grid-area: main-content;
  gap: 10px;
  grid-template-columns: repeat(auto-fit, 150px);
  /* grid-template-rows: repeat(5,150px); */
  justify-content: center;
  align-content: start;
  /* height:450px; */
}

/* #colorPicker {
  height: 100%;
} */

.editor {
  margin-top: 50px;
  gap: 10px;
  padding: 20px;
  background-color: var(--second-color);
  grid-area: main-content;
  grid-template-columns: 1fr 0.5fr;
  height: fit-content;
  border-radius: 10px;
}

.editor-btns {
  border: 1px solid;
  border-radius: 10px;
  border-color: var(--text-color);

  background-color: var(--main-background);
  display: grid;
  width: fit-content;
  grid-template-rows: repeat(5,1fr);
  width: 100%;
}

.editor-btns button {
    cursor: pointer;
    border: 1px solid;
  border-radius: 10px;
  border-color: var(--text-color);
    background-color: var(--second-color);
    
}


.line-editors button {
    height: 50px;
    width: 50px;
}

.row-align-ediors button  {
    height: 50px;
    width: 50px;
}

.download-and-share button {
    height: 50px;
    width: 50px;
}

.material-symbols-outlined {
    text-align: center;
    color: var(--text-color) !important;              /* הצבע הרצוי */
    -webkit-text-fill-color:var(--text-color) !important; /* לוודא תמיכה בספארי/כרומיום מובייל */
  }



label {
  color: var(--text-color);
}

.input-row {
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
  height: 100%;
}

.text-input,#colorPicker {
  align-self: center;
  justify-self: center;
  height: 40%;
  width: 100%;
  border-radius: 10px;
}

.line-editors,
.row-align-ediors,
.font-choose,
.download-and-share {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-evenly;

  align-content: center;
}

.font-choose {
  display: grid;

}

#fonts {

  width: 100%;
}


.download-and-share {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    align-items: center;
    justify-items: center;
}



@media (max-width: 450px) {
  /* סגנונות עבור טלפונים ניידים */

  *{
    font-size: 1rem;
  }


  .main-layout {
    background-color: var(--main-background);
    display: grid;
    grid-template-columns: minmax(10px, 1fr) minmax(370px   , 430px) minmax(10px, 1fr);
    grid-template-rows: 60px 1fr;
    grid-template-areas:
      '. header .'
      '. main-content .';
  }




/* NAV */

 

.gallery > * {
    width: 100px;
    height: 100px;
    object-fit: cover;
  }

  .gallery {
    margin-top: 50px;
    display: grid;
    grid-area: main-content;
    gap: 10px;
    grid-template-columns: repeat(auto-fit, 100px);
    /* grid-template-rows: repeat(5,150px); */
    justify-content: center;
  
    align-content: start;
    /* height:450px; */
  }
  
  .editor {
    grid-auto-flow: column;
    grid-template-rows: 1fr 1fr;
  }

  .editor .canvas-container {
    grid-column: 1/-1;
  }

  .editor .editor-btns {
    gap: 10px;
    grid-column: 1/-1;
  }

.input-row .text-input {
    height: 60%;
    width: 60%;
}


.input-row {
    width: 100%;
    
}

.input-row .text-input{
    width: 80%;
}
.input-row #colorPicker{
    height: 40px;
    width: 40px;
}

#colorPicker{
    justify-self: start;
}


.font-choose label{
    font-size: 1.2rem;
    align-self: center;

}
.font-choose #fonts{
    font-size: 1.2rem;

}
    

}
